__pycache__/
log.file
db
*/.DS_Store
.DS_Store
.env
.env.local
db_data/
files/
indexer/.env
.idea/
backups/*
*.log
indexer/backups/*
indexer/tools_priv
indexer/tools_priv.diff
app
indexer/bitcoin_parser/target