__pycache__/
log.file
db
*/.DS_Store
.DS_Store
.env
.env.local
db_data/
files/
indexer/.env
.idea/
backups/*
*.log
indexer/backups/*
indexer/tools_priv
indexer/tools_priv.diff
app
indexer/bitcoin_parser/target
indexer/src/rust_parser/target/*
indexer/profiling/*
# Mypy cache
.mypy_cache/

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 
.roo/*