[submodule "indexer/tools_priv"]
  path = indexer/tools_priv
  url = git@github.com:stampchain-io/btc_stamps_priv_tools.git
  branch = main
  update = merge
[submodule "app"]
	path = app
	url = https://github.com/stampchain-io/BTCStampsExplorer
	branch = main
  update = merge
