## Database Connections
RDS_HOSTNAME=db
RDS_USER=
RDS_PASSWORD=
RDS_DATABASE=btc_stamps

# Optional Quicknode for BTC Node (if not using local node)
QUICKNODE_URL= # Optional - only for Quicknode users do not include https://
QUICKNODE_API_KEY= # Optional - only for Quicknode users

# Bitcoin Node (if not using Quicknode)
RPC_IP= # Bitcoin Node IP or hostname
RPC_USER=rpc
RPC_PASSWORD=rpc

## Other
BACKEND_POLL_INTERVAL= # Optional to change the interval of the backend polling default 0.5 secs
DOMAINNAME= # Optional to prepend the stamp_url value in the db ie stampchain.io
AWS_ACCESS_KEY_ID= # Optional - only for AWS S3 users
AWS_SECRET_ACCESS_KEY= # Optional - only for AWS S3 users
AWS_CLOUDFRONT_DISTRIBUTION_ID= # Optional if using Cloudfront with S3 and require invalidation
AWS_S3_BUCKE_TNAME= # Optional - only for AWS S3 users ie 'stamps/'
AWS_S3_IMAGE_DIR= # Optional - only for AWS S3 users
DEBUG=false # Set to 'true' to enable debug logging

# File Storage
STORE_FILES=true  # Set to 'false' to disable all file storage (both local and S3)

# Debug flags
DEBUG_SKIP_REBUILD_BALANCES=false
