## Database Connections
RDS_HOSTNAME=localhost
RDS_USER=
RDS_PASSWORD=
RDS_DATABASE=btc_stamps

# Optional Quicknode for BTC Node (if not using local node)
QUICKNODE_URL= # Optional - only for Quicknode users, do not include https://
QUICKNODE_API_KEY= # Optional - only for Quicknode users, required for authentication

# Bitcoin Node (if not using Quicknode)
RPC_IP= # Bitcoin Node IP or hostname default is localhost
RPC_USER=rpc
RPC_PASSWORD=rpc

# Counterparty Node 
CP_RPC_URL= # Counterparty Node RPC URL (default is https://api.counterparty.io:4000)

## Other
BACKEND_POLL_INTERVAL= # Optional to change the interval of the backend polling default 0.5 secs
DOMAINNAME= # Optional to prepend the stamp_url value in the db ie stampchain.io

# File Storage
STORE_FILES=true  # Set to 'false' to disable all file storage (both local and S3)
USE_ASYNC_UPLOADS=true  # Set to 'false' to disable asynchronous file uploads to S3
## AWS S3 File Storage (optional), local storage is used by default
AWS_ACCESS_KEY_ID= # Optional - only for AWS S3 users
AWS_SECRET_ACCESS_KEY= # Optional - only for AWS S3 users
AWS_CLOUDFRONT_DISTRIBUTION_ID= # Optional if using Cloudfront with S3 and require invalidation
AWS_S3_BUCKETNAME= # Optional - only for AWS S3 users ie 'stamps/'
AWS_S3_IMAGE_DIR= # Optional - only for AWS S3 users

# Debug flags for development
DEBUG_SKIP_REBUILD_BALANCES=false # Set to 'true' to skip rebuilding SRC-20/SRC-101 balances on startup
DISABLE_RUST_PARSER=false # Set to 'true' to disable the Rust parser and use Python implementation
DEBUG=false # Set to 'true' to enable debug logging
DEBUG_VALIDATION=false # Set to 'true' to enable validation against production DB every 1000 blocks
DEBUG_PROFILING=false # Set to 'true' to enable profiling of block processing (first 20 blocks)

# Reparse Configuration
REPARSE_MODE=false
SNAPSHOT_PATH=/app/snapshots/reference_hashes.json
REPARSE_STAGING_DB=btc_stamps_staging  # Optional staging DB
