
.slide-and-fade {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sliding-exit {
    transform: translateX(-100%);
    opacity: 0;
}

.sliding-enter {
    transform: translateX(0);
    opacity: 1;
}
  