name: Python Check

on:
  workflow_call:

jobs:
  python-check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
        env:
          POETRY_HOME: ${{ github.workspace }}/.poetry
        working-directory: ./indexer

      - name: Add Poetry to PATH
        run: echo "${{ github.workspace }}/.poetry/bin" >> $GITHUB_PATH

      - name: Install dependencies using Poetry
        run: |
          poetry config virtualenvs.create false
          poetry install
        working-directory: ./indexer

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=${{ github.workspace }}/indexer/src" >> $GITHUB_ENV

      - name: Security check with Bandit
        run: poetry run bandit -r . -lll
        working-directory: ./indexer

      - name: Lint with flake8
        run: |
          poetry run flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        working-directory: ./indexer

      - name: Run STAMP/SRC-20 Validations
        run: |
          poetry run python3 -m unittest discover -s . -p "test_src20.py"
        working-directory: ./indexer